[Desktop Entry]
Version=1.0
Type=Application
Name=Google Chrome
Exec=/usr/local/bin/box-chrome --new-window %U
Icon=google-chrome
StartupWMClass=box-chrome
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
